{% extends "base_layout.html" %}
{% block title %}Dream Buckets | Dashboard{% endblock %}
{% block nav_menu_items %}
  <ul id="nav-mobile" class="left hide-on-med-and-down">
   <li><a href="#bucketlist_definition" class="waves-effect waves-teal btn-flat">Bucket List?</a></li>
  </ul>
  <ul id="nav-mobile" class="right hide-on-med-and-down">
    <li><a href="/logout" class="waves-effect waves-teal btn-flat">LogOut</a></li>
  </ul>
  <ul class="side-nav" id="mobile-demo">
    <li><a href="#bucketlist_definition">BucketList?</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
{% endblock %}
{% block body %}
    <div class="container">
    <div class="row center">
      <p class="flow-text">The ultimate bucket list!</p>
    </div>
      <div class="row">
        <ul class="collection">
           <li class="collection-item avatar">
             <i class="material-icons circle">accessibility</i>
             <span class="title">Run a marathon</span>
             <p>
                <span class="bcategory blue-text">Health and Fitness</span><br>
                Dudu goals! I need a six pack...feeling good about myself. YOLO!
             </p>
             <a href="#!" class="btn waves-teal waves-teal secondary-content"><i class="material-icons">edit</i></a>
           </li>
           <li class="collection-item avatar">
             <i class="material-icons circle green">insert_chart</i>
             <span class="title">Enroll in a phd program</span>
             <p> <span class="bcategory blue-text"> Education and Career </span><br>
                There is a feeling that I need a greater understanding of what I do because it's what I love. I need not an Ivy league school but at least I better get going.
             </p>
             <a href="#!" class="btn waves-teal waves-teal secondary-content"><i class="material-icons">edit</i></a>
           </li>
           <li class="collection-item avatar">
             <i class="material-icons circle red">play_arrow</i>
             <span class="title">Visit Japanese Islands</span>
             <p> <span class="bcategory blue-text"> Entertainment </span><br>
                Japanese islands are an interesting place to go to. Ok, I don't know but I find this very interesting. I also want to see Hong Kong.
             </p>
             <a href="#!" class="btn waves-teal waves-teal secondary-content"><i class="material-icons">edit</i></a>
           </li>
         </ul>
      </div>
    </div>

    <!-- Adding and editing options -->
      <div class="fixed-action-btn">
        <a href="#" class="btn-floating green btn-large"><i class="large material-icons">add</i></a>
        <ul>
          <li><a href="#" class="btn-floating yellow "><i class="large material-icons">insert_chart</i></a></li>
          <li><a href="#" class="btn-floating blue "><i class="large material-icons">format_quote</i></a></li>
          <li><a href="#" class="btn-floating green"><i class="large material-icons">publish</i></a></li>
          <li><a href="#" class="btn-floating orange"><i class="large material-icons">attach_file</i></a></li>
        </ul>
      </div>
{% endblock %}
